[stepper_x]
##	in M4 position
step_pin: PE2
dir_pin: !PC5
enable_pin: !PF11
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200  
endstop_pin: ^PG11
position_endstop: 0
position_min: -1
position_max: 235
homing_speed: 40  
homing_retract_dist: 10

[stepper_x1]
##	in M6 position
step_pin: PE14
dir_pin: !PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200  

[stepper_y]
##	in M5 position
step_pin: PE3
dir_pin: !PF13
enable_pin: !PF14
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200  
endstop_pin: ^PG12
position_endstop: -4
position_min: -5
position_max: 235
homing_speed: 40  
homing_retract_dist: 10

[stepper_y1]
##	in M7 position
step_pin: PE0
dir_pin: !PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200 

[stepper_z]
## In M0 position
step_pin: PE15
dir_pin: !PE11
enable_pin: !PF2
microsteps: 32
rotation_distance: 4
#endstop_pin: PG10
endstop_pin:probe:z_virtual_endstop
position_min: -8
#position_endstop: 0
position_max: 190
full_steps_per_rotation: 200
homing_retract_dist: 5.0
homing_positive_dir: false
homing_speed: 4.0
second_homing_speed: 1.5
step_pulse_duration: 0.000004

[tmc2209 stepper_x] 
uart_pin: PC4
interpolate: false 
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_x1] 
uart_pin: PE7
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_y] 
uart_pin: PF12 
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_y1] 
uart_pin: PG2
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z]
interpolate: false
uart_pin: PE10
run_current: 0.85
sense_resistor: 0.110
stealthchop_threshold: 0